div {
  display: grid;
  justify-items: flex-start;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(auto-fill, 9rem);
  grid-auto-flow: column;
  height: calc(100% - 51px);
}

div.large {
  grid-template-rows: repeat(auto-fill, minmax(12.5rem, 1fr));
  grid-template-columns: repeat(auto-fill, 12rem);

  fa-icon {
    font-size: 3rem;
  }
  p {
    font-size: 1.2rem;
  }
}

div.medium {
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(auto-fill, 9rem);

  fa-icon {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

div.small {
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(auto-fill, 9rem);

  fa-icon {
    font-size: 1.5rem;
  }
  p {
    font-size: .8rem;
  }
}

a {
  width: 9rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
  }

  &:hover::before {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
}

button {
  background-color: transparent;
  padding: 1rem;
}

// p {
//   font-size: 1.2rem;
// }
