<div (click)="addDesktopItem.changeFlag($event)" [ngClass]="sizeOption">
  <a
    appDesktopMenu
    *ngFor="let item of iconItems; index as i"
    (dblclick)="openDesktopItem(item.linkName)"
    (debounceClick)="getElementName(item.linkName)"
    [desktopMenuIndex]="setIndex(i, 2)"
  >
    <button>
      <fa-icon [icon]="item.icon" [ngClass]="{'active': item.icon === 'folder'}"></fa-icon>
      <app-add-element
        *ngIf="currentName === item.linkName && updatedDocument; else elseBlock"
        class="add-element__container desktop-items update"
        [initialValueToUpdate]="item.name"
        [updatedDocument]="updatedDocument"
        [selectedApp]="selectedApp"
      >
      </app-add-element>
      <ng-template #elseBlock>
        <p>
          {{ item.name }}
        </p>
      </ng-template>
    </button>
  </a>
  <app-add-element
    class="add-element__container desktop-items"
    [ngClass]="{ test: updatedDocument }"
    [icon]="folder"
    #addDesktopItem
  ></app-add-element>
</div>
