$gray: #b6b6b6;
$dirty-white: #fdfbfb;
$light-gray: #cfcfcf;
$error: #a3394c;

div {
  display: grid;
  justify-items: flex-start;
  grid-auto-flow: column;
  height: calc(100% - 51px);
  padding-top: 0.5rem;

  p {
    color: white;
    text-shadow: 2px 2px 2px #222;
    font-weight: 300;
  }
}

div.large {
  grid-template-rows: repeat(auto-fill, minmax(12.5rem, 1fr));
  grid-template-columns: repeat(auto-fill, 12rem);

  fa-icon {
    font-size: 3rem;
  }
  p {
    font-size: 1.2rem;
  }
}

div.medium {
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(auto-fill, 9rem);

  fa-icon {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

div.small {
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(auto-fill, 9rem);

  fa-icon {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8rem;
  }
}

a {
  width: 9rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  user-select: none;
  height: 100%;
}

.test {
  display: none;
}

button {
  background-color: transparent;
  padding: 0 1rem;
  display: grid;
  align-items: flex-start;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
  }

  &:hover::before {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  fa-icon.active {
    color: #F8D775;
  }
}
