@use '../../../assets/helpers.scss' as *;

:host {
  @extend .wrapper;
}

.container__header--apps {
  margin-top: 1rem;

  .container__header--button {
    background-color: transparent;

    &:hover {
      color: $blue;
    }
  }
}

.container__app {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0 1rem;

  &.hover:hover {
    @include white(20%);
  }

  fa-icon {
    margin-right: 1rem;
  }

  .container__progress {
    display: grid;
    align-items: center;

    label,
    p {
      font-size: 0.8rem;
      color: $txt-color;
    }
  }
}

.container__apps {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;

  &.isClosed {
    display: none;
  }

  button {
    background-color: transparent;
    display: flex;
    align-items: center;
  }
}