@use "../../../assets/helpers" as *;

:host {
  width: 50%;
  height: 75%;
  background-color: $bg-color;
  padding: 0 1rem;
}

.container__header {
  width: 100%;
  height: 2rem;
  border-bottom: solid 1px $txt-color-hue1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    margin: 0;
    padding: 0.1rem 0.2rem;
  }

  .header__buttons {
    height: 100%;
    display: flex;
    margin-right: -1rem;

    button {
      color: $txt-color;
    }

    .exit-button:not(.exit-button:last-child):hover {
      background-color: $bg-color-hue1;
    }
  }

  span {
    display: flex;
    align-items: center;
  }

  h4 {
    margin-right: 2rem;
  }

  p {
    font-size: 0.8rem;
    font-style: italic;
  }
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 100%;

  button {
    &:hover {
      background-color: $blue;
    }

    fa-icon {
      font-size: 0.8rem;
      color: $txt-color;
    }
  }
}
