@use "../../../assets/helpers.scss" as *;

:host {
  @extend .wrapper;
}

.container {
  width: 50%;
  // height: 50%;
  background-color: $white;
}

.container__header {
  @extend .wrapper__header;
  margin-bottom: 2rem;

  .header__buttons {
    margin-right: 0;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.container__settings {
  padding: 0 2rem;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, 20rem);
  gap: 2rem;
}

.container__setting {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  background-color: $white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
  }

  &:hover {
    @include white(25%);

    &::before {
      border: solid 2px;
      @include white(50%, border-color);
    }
  }

  .container__text {
    display: grid;
    justify-items: flex-start;
    width: 80%;

    p {
      font-size: 0.8rem;
      text-align: start;
    }
  }
}

a {
  display: block;
  height: 100%;
}

fa-icon {
  line-height: 0;
  margin-right: 1rem;
  color: $blue;
}
