$dark-black: #222;
$black: #333;
$light-black: #444;
$very-light-black: #555;
$blue: #00a2ed;
$light-blue: #87CEEB;

@keyframes press-button {
  0% {
    background-color: $very-light-black;
  }

  100% {
    background-color: $light-black;
  }
}

.taskbar {
  background-color: $black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 3.25rem;
}

.taskbar__buttons {
  height: 100%;
  display: flex;
}

.taskbar__container {
  margin-left: 3rem;
  display: flex;
}

.taskbar__buttons--active {
  height: 100%;
  margin-right: .7rem;
  a {
    height: 100%;
    display: block;
  }

  button {
    border-bottom: solid 2px $light-blue;

    &.active {
      background-color: $very-light-black;

      &:active {
        background-color: darken($very-light-black, 2%);
      }
    }

    &:hover > fa-icon {
      color: white;
    }
  }
}

button {
  background-color: $black;
  padding: 0 1.5rem;
  height: 100%;

  fa-icon {
    color: white;
    font-size: 1.1rem;
  }

  &:hover {
    background-color: $light-black;

    fa-icon {
      color: $blue;
    }

  }

  &:active {
    background-color: darken($light-black, 4%);
  }
}

p {
  color: white;
  cursor: default;
  text-align: center;
}

span {
  display: flex;
}
