@use "../../../assets/helpers.scss" as *;

@keyframes press-button {
  0% {
    @include black(20%);
  }

  100% {
    @include black(10%);
  }
}

.taskbar {
  @include black(5%);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 3.25rem;
}

.taskbar__buttons {
  height: 100%;
  display: flex;
}

.taskbar__container {
  margin-left: 3rem;
  display: flex;
}

.taskbar__buttons--active {
  height: 100%;
  margin-right: 0.7rem;
  a {
    height: 100%;
    display: block;
  }

  button {
    border-bottom: solid 2px $light-blue;

    &.active {
      @include black(20%);

      &:hover {
        @include black(25%);
      }

      &:active {
        @include black(15%);
      }
    }
  }
}

button {
  background-color: inherit;
  padding: 0 1.5rem;
  height: 100%;

  fa-icon {
    color: $white;
    font-size: 1.1rem;
  }

  &:hover {
    @include black(15%);

    fa-icon {
      color: $blue;
    }
  }

  &:active {
    @include black(10%);
  }
}

p {
  color: $white;
  cursor: default;
  text-align: center;
}

span {
  display: flex;
}
