<div class="taskbar">
  <div class="taskbar__buttons">
    <button title="Start" (click)="isOpen = !isOpen;">
      <fa-icon [icon]="faWindows"></fa-icon>
    </button>
    <div class="taskbar__container">
      <div class="taskbar__buttons--active" *ngFor="let app of selectedApps">
        <a routerLink="{{app.linkName === selectedApp.linkName ? '/' : app.linkName}}">
          <button title="{{app.name}}" [ngClass]="{'active': app.linkName === selectedApp.linkName}" (click)="test(app)">
            <fa-icon [icon]="app.icon"></fa-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div title="{{ today | date: 'cccc, d LLLL yyyy' }}">
    <p>{{ today | date: "HH:mm" }}</p>
    <p>{{ today | date: "dd.MM.yyyy" }}</p>
  </div>
</div>
<app-taskbar-menu [isOpen]="isOpen"></app-taskbar-menu>
