@use "../../../assets/helpers.scss" as *;

@keyframes press-button {
  0% {
    background-color: $bg-color-hue3;
  }

  100% {
    background-color: $bg-color-hue2;
  }
}

.taskbar {
  background-color: rgb($bg-color-rgb);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  height: 3.25rem;
}

.taskbar__buttons {
  height: 100%;
  display: flex;
}

.taskbar__container {
  margin-left: 3rem;
  display: flex;
}

.taskbar__buttons--active {
  height: 100%;
  margin-right: 0.7rem;
  a {
    height: 100%;
    display: block;
  }

  button {
    border-bottom: solid 2px $light-blue;

    &.active {
      background-color: rgba($bg-color-hue2-rgb, $alpha);

      &:hover {
        background-color: rgba($bg-color-hue3-rgb, $alpha);
      }

      &:active {
        background-color: rgba($bg-color-hue2-rgb, 1);
      }
    }
  }
}

button {
  background-color: inherit;
  padding: 0 1.5rem;
  height: 100%;

  fa-icon {
    color: $txt-color;
    font-size: 1.1rem;
  }

  &:hover {
    background-color: rgba($bg-color-hue2-rgb, $alpha);

    fa-icon {
      color: $blue;
    }
  }

  &:active {
    background-color: rgba($bg-color-hue1-rgb, $alpha);
  }
}

p {
  color: $txt-color;
  cursor: default;
  text-align: center;
}

span {
  display: flex;
}
