@use "../../../assets/helpers.scss" as *;

:host {
  @extend .wrapper;
}

.container {
  width: 50%;
  background-color: $white;
  border: solid 1px;
  @include white(50%, border-color);
}

textarea {
  resize: none;
  width: 100%;
  padding: 0.1rem 0.2rem;
  height: auto;
}

.container__header {
  @extend .wrapper__header;

  .header__buttons {
    margin-right: 0;
  }

  span {
    display: flex;
    align-items: center;
  }

  h4 {
    margin-right: 2rem;
  }

  p {
    font-size: 0.8rem;
    font-style: italic;
  }
}
