<div
  class="taskbar__menu"
  [ngClass]="{ active: isOpen, 'taskbar__left--active': isOpenLeftbar }"
>
  <div class="taskbar__left">
    <div class="taskbar__top">
      <button (click)="isOpenLeftbar = !isOpenLeftbar" title="Expand" attr.aria-expanded="{{isOpenLeftbar}}" class="btn">
        <fa-icon [icon]="faBars" data-name="START"></fa-icon>
      </button>
    </div>
    <div class="taskbar__bottom">
      <a routerLink="settings" (click)="isOpen = false" class="btn">
        <button title="Settings">
          <fa-icon [icon]="faCog" data-name="Settings"></fa-icon>
        </button>
      </a>
      <button title="Power - NOT WORK!" class="btn">
        <fa-icon [icon]="faPowerOff" data-name="Power"></fa-icon>
      </button>
    </div>
  </div>
  <div class="taskbar__right">
    <div class="taskbar__elements" (click)="isOpen = false" *ngFor="let app of apps; let i = index">
      <p *ngIf="firstLetterOfApp[i] !== firstLetterOfApp[i-1]">{{ firstLetterOfApp[i] }}</p>
      <a routerLink="{{app.linkName}}">
        <button>
          <fa-icon [icon]="app.icon"></fa-icon>
          {{ app.name }}
        </button>
      </a>
    </div>
  </div>
</div>