@use "../../../../assets/helpers.scss" as *;

p {
  color: $white;
  cursor: default;
  text-align: center;
}

fa-icon {
  color: $white;
}

.taskbar__menu {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40rem;
  width: 25rem;
  background-color: $base-color;
  z-index: 1;
  display: none;
  padding-bottom: 2.9rem;

  &.active {
    display: flex;
  }

  button {
    background-color: inherit;
  }
}

.taskbar__left {
  display: grid;
  align-content: space-between;
  justify-items: center;

  & > * {
    width: 4.2rem;
    display: grid;
    justify-items: center;
  }

  a {
    width: 100%;
  }

  button {
    width: 100%;
    padding: 1.5rem 0;

    &:hover {
      @include black(15%);
    }

    &:active {
      animation: press-button 2s;
    }

    fa-icon {
      text-align: center;
      line-height: 0;
      font-size: 1rem;
    }
  }
}

.taskbar__right {
  flex: 2;
  display: grid;
  align-content: flex-start;
  justify-items: flex-start;
  margin-left: 1rem;

  .taskbar__elements {
    width: 100%;
  }

  p {
    text-align: start;
    font-size: 1rem;
    margin-top: 1.2rem;
  }

  a {
    display: flex;
    width: 100%;
    margin-left: -0.3rem;
    margin-top: 0.5rem;
  }

  button {
    background-color: inherit;
    color: $white;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0.3rem;

    fa-icon {
      margin-right: 0.5rem;
      font-size: 1rem;
      width: 2rem;
      height: 2rem;
      background-color: $blue;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      @include black(15%);
    }

    &:active {
      animation: press-button 2s;
    }
  }
}

.taskbar__menu.taskbar__left--active {
  .taskbar__left {
    padding-right: 15rem;
    position: absolute;
    z-index: 10;
    height: 100%;
    padding-bottom: 2.9rem;
    background-color: rgba($color: #222, $alpha: 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    .btn {
      width: calc(100% + 30rem);
    }

    fa-icon {
      position: relative;
      z-index: 3;
      width: 20rem;

      &::before {
        content: attr(data-name);
        position: absolute;
        left: 100%;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        color: $white;
        background-color: $base-color;
        margin-left: 2rem;
      }
    }
  }

  .taskbar__right {
    margin-left: 5.5rem;

    button:hover {
      background-color: transparent;
      pointer-events: none;
    }
  }
}
