div {
  display: grid;
  justify-content: start;
  align-content: start;
  background-color: lightcoral;
  position: absolute;
  z-index: 1;

  & > p:hover {
    background-color: lightblue;
  }
}

p {
  width: 200px;
  padding: 1vh;
}
