div {
  display: grid;
  justify-content: start;
  align-content: start;
  background-color: #ECE6E4;
  position: absolute;
  z-index: 3;
  border: solid 1px #736D6B;
}

a, p {
  padding: 1vh;
  cursor: default;
  width: 100%;
}

button {
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: transparent;
  position: relative;

  &:hover {
    background-color: #F9F5F4;
  }
}
