@use '../../../assets/helpers.scss' as *;

div {
  display: grid;
  justify-content: start;
  align-content: start;
  background-color: $bg-color-hue1;
  position: absolute;
  z-index: 3;
  border: solid 1px $bg-color-hue5;

  &.view {
    position: absolute;
    left: 95%;
    top: -1px;
  }
}

a,
p {
  cursor: default;
  width: 100%;
}

button {
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: transparent;
  position: relative;
  padding: 1vh;
  font-size: 1rem;
  color: $txt-color;

  &:hover {
    background-color: $bg-color-hue2;
  }
}

button.active {
  &::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    background-color: $txt-color;
    border-radius: 50%;
  }
}
