<div>
  <button
    *ngFor="let item of service.menuItems; index as i"
    (click)="setFn(item)"
    appViewSize="{{ item }}"
    #test="test"
  >
    <div *ngIf="test.currentItems.length" class="view">
      <ng-container *ngFor="let i of test.currentItems">
        <button
          (click)="test.setFn(i)"
          [ngClass]="{ active: test.selectedOption === i }"
        >
          {{ i }}
        </button>
      </ng-container>
    </div>
    <a *ngIf="service.anchorItems[i]; else elseBlock">{{ item }}</a>
    <ng-template #elseBlock>{{ item }}</ng-template>
  </button>
</div>
