// @import "@angular/cdk/overlay-prebuilt.css";

div {
  background-image: url("../assets/images/windows10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  // &.nightlight {
  //   filter: sepia(100%);
  // }
}
