.box {
  background-color: lightcoral;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;

  & > .options:hover {
    background-color: lightblue;
  }
}

.options {
  width: 200px;
  padding: 1vh;
}
