:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

div {
  width: 25rem;
  height: 15rem;
  background-color: #222;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  label {
    color: white;
  }

  input {
    width: 50%;
  }
}

button {
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: #d3394c;
  color: white;

  &:hover {
    background-color: #a3394c;
    transition: background-color 0.2s ease-in-out;
  }
}
