<div
  class="wrapper"
  (click)="createNewDocument()"
  appDesktopMenu
  [desktopMenuIndex]="4"
>
  <div class="container">
    <div class="container__header">
      <h4 *ngIf="mainItem">{{ mainItem.name }}</h4>
      <button class="exit-button" (click)="goBack()">X</button>
    </div>
    <div class="container__elements header">
      <p>Name</p>
      <p>Type</p>
      <p>Size</p>
    </div>
    <div *ngFor="let item of selectedItem">
      <a class="container__elements" (dblclick)="openDocument(item.linkName)">
        <span>
          <fa-icon [icon]="item.icon"></fa-icon>
          <p>{{ item.name }}</p>
        </span>
        <p>{{ item.type }}</p>
        <p *ngIf="item.characters; else elseBlock">
          {{ item.characters }} characters
        </p>
        <ng-template #elseBlock>
          <p>0 characters</p>
        </ng-template>
      </a>
    </div>
    <div *ngIf="newDocument" class="container__elements">
      <span class="container__elements--new">
        <fa-icon [icon]="file"></fa-icon>
        <input
          type="text"
          #input
          #nameClass="ngModel"
          [(ngModel)]="name"
          [ngClass]="{ 'error-border': nameClass.touched && nameClass.invalid }"
          appForbiddenName
          (input)="isError = nameClass.errors"
        />
        <p *ngIf="nameClass.errors?.['forbiddenChar']" class="error">
          &gt; &lt; | : " \ / ? * are forbidden.
        </p>
      </span>
      <p>Text document</p>
      <p>0 characters</p>
    </div>
  </div>
</div>
