:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

div {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
