<div
  class="wrapper"
  (click)="addDocument.changeFlag($event)"
  appDesktopMenu
  [disableEvent]="appElement?.linkName === forbiddenApp"
  [desktopMenuIndex]="4"
>
  <app-title-bar [app]="appElement">
    <div class="container__elements header">
      <p>Name</p>
      <p>Type</p>
      <p>Size</p>
    </div>
    <div *ngFor="let item of documentElement">
      <a
        class="container__elements"
        (dblclick)="openDocument(item.linkName)"
        appDesktopMenu
        [disableEvent]="appElement?.linkName === forbiddenApp"
        (debounceClick)="getElementName(item.linkName)"
        [desktopMenuIndex]="5"
      >
        <span class="container__element--name">
          <fa-icon [icon]="item.icon"></fa-icon>
          <p>{{ item.name }}</p>
        </span>
        <p>{{ item.type }}</p>
        <p *ngIf="item.characters; else elseBlock">
          {{ item.characters }} characters
        </p>
        <ng-template #elseBlock>
          <p>0 characters</p>
        </ng-template>
      </a>
    </div>
    <app-add-element
      class="add-element__container app-icon"
      #addDocument
      [appElement]="appElement"
      [documentElement]="documentElement"
      [suffix]="suffix"
    ></app-add-element>
  </app-title-bar>
</div>
