@use '../../../assets/helpers.scss' as *;

.wrapper {
  @extend .wrapper;
}

.container {
  width: 50%;
  height: 75%;
  background-color: $white;
  padding: 0 1rem;

  & > *:not(.container__elements.header, .container__header):hover {
    cursor: default;
    @include white(20%);
  }
}

.container__header {
  @extend .wrapper__header;
}

.container__elements {
  display: flex;
  justify-content: space-around;

  & > * {
    flex: 1;
    padding-left: 0.5rem;
  }

  &.header > * {
    border-right: solid 1px;
    @include white(20%, border-right-color);
    margin-bottom: 1rem;
    @include white(20%, color);
  }

  & > *:first-child {
    flex: 2;
  }
}

.container__element--name {
  display: flex;
  align-items: center;
}

fa-icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}
