@use "./assets/helpers" as *;
@import "@angular/cdk/overlay-prebuilt.css";

$red: #ff3333;

:root {
  --background: url('https://wallpaperaccess.com/full/2382371.jpg');
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  font-family: "Merriweather Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  --accent-color: #00a2ed;
  --accent-color-lighten: #65c2ee;
  --alpha: 0.7;

  --bg-color: #222;
  --bg-color-rgb: 33, 33, 33;

  --bg-color-hue1: #3b3b3b;
  --bg-color-hue1-rgb: 59, 59, 59;

  --bg-color-hue2: #545454;
  --bg-color-hue2-rgb: 84, 84, 84;

  --bg-color-hue3: #6e6e6e;
  --bg-color-hue3-rgb: 110, 110, 110;

  --bg-color-hue5: #a0a0a0;

  --txt-color: #fefefe;
  --txt-color-hue1: #cccccc;
  --txt-color-hue2: #ababab;
  --txt-color-hue5: #676767;
}

body.goldenrod-accent {
  --accent-color: goldenrod;
  --accent-color-lighten: rgb(233, 196, 104);
}

body.lightcoral-accent {
  --accent-color: lightcoral;
  --accent-color-lighten: rgb(233, 156, 156);
}

body.blue-accent {
  --accent-color: #00a2ed;
  --accent-color-lighten: #65c2ee;
}

body.mediumseagreen-accent {
  --accent-color: mediumseagreen;
  --accent-color-lighten: rgb(114, 197, 151);
}

body.isNotTransparent {
  --alpha: 1;
}

body.light-theme {
  --bg-color: #fefefe;
  --bg-color-rgb: 255, 255, 255;

  --bg-color-hue1: #cccccc;
  --bg-color-hue1-rgb: 204, 204, 204;

  --bg-color-hue2: #ababab;
  --bg-color-hue2-rgb: 171, 171, 171;

  --bg-color-hue3: #676767;
  --bg-color-hue3-rgb: 102, 102, 102;

  --bg-color-hue5: #808080;

  --txt-color: #222;
  --txt-color-hue1: #3b3b3b;
  --txt-color-hue2: #545454;
  --txt-color-hue5: #a0a0a0;
}

h1 {
  font-size: 2.369em;
  line-height: 1.1;
  letter-spacing: 0.3px;
  color: var(--txt-color);
}
h2 {
  font-size: 1.777em;
  line-height: 1.3;
  color: var(--txt-color);
  font-weight: 400;
}
h3 {
  font-size: 1.333em;
  line-height: 1.4;
  color: var(--txt-color);
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--txt-color);
  font-weight: 400;
  margin-bottom: 0.75em;
  cursor: default;
  user-select: none;
}
h5,
.h5 {
  font-size: 1.05em;
  line-height: 1.5;
  color: var(--txt-color);
  font-weight: 700;
  margin-bottom: 0.75em;
  cursor: default;
  user-select: none;
}

a {
  text-decoration: none;
  user-select: none;
}

a,
p,
label {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--txt-color);
}

fa-icon {
  font-size: 2rem;
  line-height: 1.6;

  .fa-folder {
    color: #f8d775;
  }
}

button {
  border: none;

  &.exit-button {
    height: 100%;
    width: 2rem;
    background-color: transparent;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
      background-color: $red;
      color: var(--txt-color);
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
  }
}

input {
  appearance: none;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  padding-left: 1rem;
}

select {
  appearance: none;
  height: 1.5rem;
  border: none;
  padding-left: 0.5rem;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23222222%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  background-repeat: no-repeat, repeat;
}

textarea {
  outline: none;
  border: none;
  font-size: 1rem;
}

::placeholder {
  color: #222;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
