@use "../../../../assets/helpers.scss" as *;

:host {
  @extend .wrapper;
}

.container {
  width: 70%;
  height: 50%;
}

.container__header {
  @extend .wrapper__header;
  background-color: $white;

  .header__buttons {
    margin-right: 0;
  }
}

.container__elements {
  display: flex;
  height: 100%;

  & > * {
    padding-top: 2vh;
  }
}

.container__left {
  display: grid;
  align-content: flex-start;
  height: 100%;
  flex: 1;
  width: 100%;
  background-color: rgba($color: #222, $alpha: 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  & > * {
    padding: 0.75rem;
    width: 100%;
  }

  a {
    display: block;
    padding: 0;

    button {
      padding: 0.75rem;
      width: 100%;
    }
  }

  button {
    background-color: transparent;
    text-align: start;
    color: $white;

    &:hover {
      background-color: rgba($color: #222, $alpha: 0.4);
    }

    &.selected {
      position: relative;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 75%;
        background-color: $blue;
        width: 5px;
      }
    }
  }
}

.container__right {
  flex: 3;
  background-color: $white;
  padding: 0 2vh 2vh;
}

fa-icon {
  line-height: 0;
  font-size: 1.2rem;
  margin-right: 1rem;
  color: $white;
}

h5 {
  color: $white;
  font-weight: 400;
}
