<app-title-bar class="margin-right" [app]="settings">
  <div class="container__elements">
    <div class="container__left" *ngFor="let option of settingOptions">
      <a routerLink="/settings">
        <button>
          <fa-icon [icon]="faHome"></fa-icon>
          Strona główna
        </button>
      </a>
      <h5>{{ selectedSetting.name }}</h5>
      <button
        (click)="selectSetting(option.name)"
        [ngClass]="{ selected: option.name === selectedOption }"
      >
        <fa-icon [icon]="option.icon"></fa-icon>
        {{ option.name }}
      </button>
    </div>
    <div class="container__right" [ngSwitch]="selectedOption">
      <app-display *ngSwitchCase="'Display'"></app-display>
    </div>
  </div>
</app-title-bar>

