<div class="container">
  <div class="container__header">
    <h4>Settings</h4>
    <div class="header__buttons">
      <button class="exit-button">_</button>
      <button class="exit-button" (click)="goBack()">X</button>
    </div>
  </div>
  <div class="container__elements">
    <div class="container__left" *ngFor="let option of settingOptions">
      <a routerLink="/settings">
        <button>
          <fa-icon [icon]="faHome"></fa-icon>
          Strona główna
        </button>
      </a>
      <h5>{{ selectedSetting.name }}</h5>
      <button
        (click)="selectSetting(option.name)"
        [ngClass]="{ selected: option.name === selectedOption }"
      >
        <fa-icon [icon]="option.icon"></fa-icon>
        {{ option.name }}
      </button>
    </div>
    <div class="container__right" [ngSwitch]="selectedOption">
      <app-display *ngSwitchCase="'Display'"></app-display>
    </div>
  </div>
</div>
