<app-title-bar class="color" [app]="settings" [backButton]="true">
  <div class="container__elements">
    <div class="container__left">
      <a routerLink="/settings">
        <button>
          <fa-icon [icon]="faHome"></fa-icon>
          Strona główna
        </button>
      </a>
      <h5>{{ selectedSetting.name }}</h5>
      <button
        *ngFor="let option of settingOptions"
        (click)="selectSetting(option.name)"
        [ngClass]="{ selected: option.name === selectedOption }"
      >
        <fa-icon [icon]="option.icon"></fa-icon>
        {{ option.name }}
      </button>
    </div>
    <div class="container__right" [ngSwitch]="selectedOption">
      <app-display *ngSwitchCase="'Display'"></app-display>
      <app-personalize *ngSwitchCase="'Colors'"></app-personalize>
      <app-background *ngSwitchCase="'Background'"></app-background>
    </div>
  </div>
</app-title-bar>
