@use "../../../../assets/helpers.scss" as *;

:host {
  @extend .wrapper;
}

::ng-deep app-title-bar.color > .container__header {
  .header__buttons {
    margin: 0;
  }
}

::ng-deep app-title-bar.color {
  padding: 0;
  background-color: transparent;

  .container__header {
    background-color: $bg-color;

    .header__buttons {
      position: relative;
      left: -1rem;
    }
  }
}

.container__elements {
  display: flex;
  height: calc(100% - 2rem);

  & > * {
    padding-top: 2vh;
  }
}

.container__left {
  display: grid;
  align-content: flex-start;
  height: 100%;
  flex: 1.5;
  width: 100%;
  background-color: rgba($bg-color-rgb, $alpha);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  & > * {
    padding: 0.75rem;
    width: 100%;
  }

  a {
    display: block;
    padding: 0;

    button {
      padding: 0.75rem;
      width: 100%;
    }
  }

  button {
    background-color: transparent;
    color: $txt-color;
    text-align: start;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &:hover {
      background-color: rgba($white, $alpha: 0.4);
    }

    &.selected {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 75%;
        background-color: $blue;
        width: 5px;
      }
    }
  }
}

.container__right {
  flex: 3;
  background-color: $bg-color;
  padding: 0 2vh 2vh;
}

fa-icon {
  line-height: 0;
  font-size: 1.2rem;
  margin-right: 1rem;
}

h5 {
  font-weight: 400;
}
